{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Registro de Carros</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Registrar Carro</h1>
{% endblock h1_header %}


{% block contenido %}
<form style="color:white" action={% url 'inicio:crear_carro' %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}        
    </table>
    <button>Crear</button>
</form>
{% endblock contenido %}


{% block about %}
{% endblock about %}

{% block contact%}
{% endblock contact%}

{% block footer %}
{% endblock footer %}


